SilverlightSelfHostedService/SLApp/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITest_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="ITest_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="ITest">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITest/Echo" message="tns:ITest_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITest/EchoResponse" message="tns:ITest_Echo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPolicyRetriever">
    <wsdl:operation name="GetSilverlightPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicy" message="tns:IPolicyRetriever_GetSilverlightPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicyResponse" message="tns:IPolicyRetriever_GetSilverlightPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlashPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicy" message="tns:IPolicyRetriever_GetFlashPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicyResponse" message="tns:IPolicyRetriever_GetFlashPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITest" type="tns:ITest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/ITest/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_ITest" binding="tns:BasicHttpBinding_ITest">
      <soap:address location="http://localhost:8000/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>