Silverlight/StreamedResponses/SLApp/Service References/ServiceReference1/WcfDownloadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9160/WcfDownloadService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileSize" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="DownloadResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>